body {
  padding: 5em;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  color: #300030;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  gap: 0 30px;
  
  > * {
    max-width: 600px;
  }
}

pre {
  font-weight: bold;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
  max-width: 100%;
  overflow: auto;
  
  &.logo {
    white-space: pre;
    overflow: auto;
  }
}

h1,
h2.small {
  font-size: inherit;
  text-transform: uppercase;
}

ul {
  list-style-type: "- ";
}

a {
  text-decoration: none;
  color: #b428b4;
  font-weight: bold;
}

nav {
  grid-row: 1;
  grid-column: 1;

  h1 {
    display: inline;
    margin: 0;
  }
  p {
    max-width: 600px;
  }
}

sup,.sup {
  color: gray;
  font-size: 15px;
  margin-top: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: whitesmoke;
    background-color: rgb(32 29 32);
  }
  
  a {
    color: #e15be1;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 5em 20px;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  text-transform: lowercase;
}

section,
.warning {
  border: 3px solid var(--border);
  border-radius: 5px;

  max-width: 600px;

  padding: 20px;
  margin-block: 2em;
}

.warning {
  --border: #e57736;
}

.error {
  --border: #e54a36;
}

.schema {
  border: 0;
  margin: 0;
  grid-row: span 2;
}

section {
  h3,
  h3 + p {
    padding-inline-start: 20px;
  }

  h4,
  h4 + p {
    padding-inline-start: 40px;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

main {
  grid-row: 2;
  grid-column: 1;
  
  pre:first-child {
    margin-top: 0;
  }
}

footer > p {
  margin-block: 0;
}

hr {
  border: 0;

  &::after {
    content: "✲✲✲";
  }
}

svg {
  width: 100%;
}

img {
  border-radius: 4px;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.flex {
  display: flex;
  gap: 1em;
}